@use "abstracts" as *;

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
  }
}

.seatplan-wrapper{
  position: relative;
}

.selection{
  margin-top: (2.4rem * 2);
  position: sticky;
  bottom: 2.4rem;
  width: 33%;
  left: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  animation: slideFromBottom 0.15s ease-in-out forwards;
}
.selected-seat{
  font-size: 1.5em;
  font-weight: $font-weight-bold;
}

// svg styles
.seat{

  transition: fill ease-in-out 0.15s;

  &--available{
    fill: $color-gray;
    cursor: pointer;

    &:hover{
      fill: rgba($color-primary-accent, 0.5);
    }
  }

  &--taken{
    fill: $color-primary-dark;
  }

  &--me{
    fill: $color-secondary-dark;
  }

  &--blocked{
    cursor: not-allowed;
    stroke: $color-gray;
    fill: $color-white;
    stroke-width: 2;
  }

  &--squad{
    fill: $color-primary-light;
  }

  &--active{
    fill: $color-primary-accent !important;
  }
}

.area,
.table{
  fill: $color-primary-dark;
}

.area-legend{
  fill: $color-white;
}

.tooltip-outer{
  transform: translateX(-50%) translateY(50%);
  transition: all 0.15s ease-in-out;
  position: absolute;
}

.tooltip{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  padding: 0.6rem 1.2rem 0.6rem 0.6rem;
  @include shadow();
  border-radius: 3rem;
  background-color: $color-white;

  white-space: nowrap;

  &:before{
    content: '';
    height: 1.8rem;
    width: 1.8rem;
    transform-origin: center center;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) ;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 50%;
  }
  &--avatar{
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    z-index: 1;
  }
  &--username{
    position: relative;
    z-index: 1;
  }
}
