:host{
  width: 100%;
  display: flex;
  justify-content: center;
}
main{
  padding-top: (2.4rem * 6);
  padding-left: (2.4rem * 16);
  padding-right: (2.4rem * 3);
  padding-bottom: (2.4rem * 3);
  max-width: calc(1600px + (2.4rem * 16) + (2.4rem * 3));
  width: 100%;
  min-height: 100vh;
}
