@use "abstracts" as *;

:host {
  position: fixed;
  z-index: 101;
  top: 96px;
  left: 0;
  overflow-y: auto;
  width: (2.4rem * 19);
  height: calc(100vh - (2.4rem * 4));
}

ul {
  margin: 0;
  padding: (2 * 2.4rem) 0 0 0;
  list-style: none;
}

li {
  padding: 0;
}

.navigation-item {
  font-size: 1.5em;
  font-weight: $font-weight-bold;
  line-height: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  width: (2.4rem * 14);
  height: (3 * 2.4rem);
  margin-bottom: (2 * 1.2rem);
  padding: 2.4rem 0 2.4rem (3 * 2.4rem);
  color: $color-black;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: (1.5 * 2.4rem);
    height: (1.5 * 2.4rem);
    content: '';
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    @include primary-gradient;

  }

  &.active {
    border-radius: 0 (2 * 2.4rem) (2 * 2.4rem) 0;
    @include drop-shadow;
    background-color: $color-white;

    &:before {
      left: 100%;
      transform: translateX(-150%) translateY(-50%);
    }
  }
}

